ENVIRONMENT = app modality
SERVER_PORT = server port
DEFAULT_AVATAR_IMG = url
SALT_ROUND = number of salt rounds for password encryption

#AWS
AWS_ACCESS_KEY_ID = aws key
AWS_SECRET_ACCESS_KEY = aws secret
AWS_REGION = default region

#POSTGRESQL
DATABASE_URL = db url